.header{
    height: var(--header_height);
    display: flex;
    flex-direction: row;
    padding: 0 21.15%;
    justify-content: space-between;
    align-items: center;
}
.header__content{
    display: flex;
    flex: 0 0 33.3333%;
    justify-content: center;
}
