:root{
    /* colors */
    --black: #000000;
    --green1: #038C73;
    --grey: #ABB09F;
    --darkGrey: #8D9084;
    --white: #FFFFFF;
    --coral: #F65E64;
    
    /* fonts */
    --font: Formular;

    /* dimensions */
    --header_height: 100px;
    --footer_height: 129px;


}